.custom-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.custom-card {
    max-width: 380px;
    width: 100%;
    height: 731px;

    background-color: white;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);

    border-radius: 21px;
}

.custom-card-img-container {
    position: relative;

    width: 100%;
    height: 253px;
}

.custom-card-img-container img {
    width: 100%;
    height: 100%;

    border-radius: 21px 21px 0 0;

    object-fit: cover;
}

.custom-card-img-container span {
    position: absolute;
    padding: 5px 15px;

    top: 5px;
    right: 15px;

    font-size: 12px;

    background-color: var(--yellow);
    border-radius: 14px;
}

.custom-card-content {
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.custom-card-content h3 {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.custom-card-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.custom-card-subtitle {
    font-size: 12px;
    font-weight: 700;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: var(--grey_principal);
}

.custom-card-desc {
    max-width: 330px;
    width: 100%;
    height: 76px;
    
    font-size: 14px;
}

.custom-card-column-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.custom-card-column {
    width: calc(50% - 10px);
}

.custom-card-column p,
.custom-card-column span {
    font-size: 14px;
}

.custom-card-column p {
    font-weight: 500;
}

.custom-card-column span {
    font-weight: 400;
    color: var(--grey_principal);
}
