header > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

header {
    height: 637px;
    width: 100%;
    position: relative;
}

.header__container {
    position: absolute;
    height: 100%;
    padding: 51px 69px;
    width: 100%;
}

.header__body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.header__body form input[type="text"] {
    padding: 0 35px;
    width: 100%;
    height: 72px;
    padding-right: 70px;
    font-size: 16px;
    border: none;
    border-radius: 11px;
    max-width: 954px;
}

.header__body form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header__body form button img {
    height: 28px;
    transition: filter 0.7s ease-in-out;
    width: 27px;
}

.header__body form button {
    cursor: pointer;
    margin-left: -60px;
    width: 51px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border: none;
    border-radius: 10px;
    transition: background-color 0.7s ease-in-out;
}

.header__body form button:hover > img {
    filter: brightness(0) saturate(0%);
}

.header__body form button:hover {
    background-color: var(--yellow);
}

.header__body h2 {
    font-family: "Anton", sans-serif;
    color: var(--yellow);
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    max-width: 700px;
}
