@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");

:root {
    --yellow: #ffd15b;
    --black: #1b1b1b;
    --light-grey: #c6c6c6;
    --background-color: #fafafa;
    --grey_main: #7a7a7a;
    --grey: #ededed;
}

* {
    padding: 0;
    margin: 0;

    font-family: "Manrope", sans-serif;
    color: var(--black);

    box-sizing: border-box;
}

body {
    background-color: var(--grey);
}

a {
    text-decoration: none;
}

main {
    padding: 30px;
    margin: 0 auto;
    max-width: 1750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.cross {
    cursor: pointer;

    margin-left: -84px !important;
    margin-right: 10px;
}
.custom-filters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
}
#custom-recipes-count {
	font-family: 'Anton', sans-serif;
	font-size: 21px;
	font-weight: 400;
}

.cross-dropdown {
    width: 10px !important;

    margin-right: 6px;
    margin-left: -38px !important;
}

.custom-selectors-container {
	margin-bottom: 20px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
    gap: 15px;
}

.custom-selectors-container:first-child {
    justify-content: space-between;
}

.selection {
    padding: 0 20px;

    width: 203px;
    height: 53px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--yellow);
    border-radius: 11px;
}

.selection img {
    cursor: pointer;
}

.cross {
	cursor: pointer;
	
	margin-left: -84px !important;
	margin-right: 10px;
}

.cross-dropdown {
	width: 10px !important;

	margin-right: 6px;
	margin-left: -38px !important;
}

.custom-error-section {
	font-size: 1.2em;
}

.custom-filter-selected{
    background-color: var(--yellow);
    font-weight: bold;
}

.custom-dropdown-elements .selected-tag {
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
  }
  
  .custom-dropdown-elements .selected-tag .cross-icon {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
  }